nav {
  list-style-type: none;
  position: fixed;
  background color: tan;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 5px;
}

li {
  display: inline;
  padding: 3px;
  margin: 5px;
  float: right;
  font-size: 120%;
  text-decoration: bold;
}

a{
  color: black;
  text-decoration: none;
  font-size: 120%;
}

li a:hover{
  background-color: white;
  font-size: 25px;
}

img{
  border: dashed pink 5px; 
}
